<table border=1>
<tr>
<th>Shift</th>
{% for keypoint in keypoints %}
<th> {{ keypoint }}</th>
{% endfor %}
</tr>
{% for shift in shifts.items %}
<tr><td>{{ shift.0 }}</td>
{% for members in shift.1.values %}
<td><ul>{% for member in members %}
<li>{{ member }}</li>
{% endfor %}</ul></td>
{% endfor %}
</tr>
{% endfor %}
</table>
