<form action="signup" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>Key Point Monitoring Shifts</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <input type="submit" value="Sign Up For Shifts">
    <table>
      <tr><td>Name</td><td><input type="text" id="name" name="name" required="true"></td></tr>
      <tr><td>Phone Number</td><td><input type="text" id="phone" name="phone" required="true"></td></tr>
    </table>
    <ul>
    {% for shift in shifts %}
        <li><table><tr><td>{{ shift.1 }}</td><td>  <select name="kp_{{ shift.0 }}" id="kp_{{ shift.0 }}">
            <option value="-1">Not available for this shift</option>
          {% for keypoint in shift.2 %}  
            <option value="{{ keypoint.id }}">{{ keypoint.name }}</option>
          {% endfor %}
          </select></td></tr></table>
        </li>
    {% endfor %}
    </ul>
</fieldset>
<input type="submit" value="Sign Up For Shifts">
</form>
